---
layout: 'base.njk'
---


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v13.0" nonce="HRDpIjb5"></script>
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <img src="{{ image }}" alt="{{ imageAlt }}">
    <figcaption class="text-center">
      {{ imageAlt }}
    </figcaption>
    <div class="text-center"><span>發表日期：{{ date | postDate }}</span> 
    <span>{{ content | emojiReadTime }}</span></div>
    {{ content | safe }}
</div>
</article>
<div class="fb-share-button" data-href={{ canonical }} data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Frookieacademy.org%2F%257B%257Bfilename%257D%257D&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">分享</a></div>
