---
layout: 'base.njk'
---


<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<article class="main-article">
<div class="container container--narrow flow">
  
    <h1 class="article-title">
      {{ title }}
    </h1>
    <img src="{{ image }}" alt="{{ imageAlt }}">
    <figcaption class="text-center">
      {{ imageAlt }}
    </figcaption>
    <div class="text-center"><span>發表日期：{{ date | postDate }}</span> 
    <span>{{ content | emojiReadTime }}</span>
    <span class="fb-share-button" data-href={{ canonical }} ></span>
    </div>
    {{ content | safe }}
</div>
</article>

