<!DOCTYPE html>
<html lang="zh-Hant" ontouchmove>
<head>
    {% include "basehead.njk" %}
</head>
<body>
    {% include "header.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script>
        const menu = document.querySelector('.menu')
        const close = document.querySelector('.close')
        const nav = document.querySelector('nav')

        menu.addEventListener('click', () => {
            nav.classList.add('open-nav')
        }) 

        close.addEventListener('click', () => {
            nav.classList.remove('open-nav')
        }) 
    </script>

    <script>
    if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
        if (!user) {
            window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
            });
        }
        });
    }
    </script>
</body>
</html>