<div class="card {{ card.data.css }}">
    <a href="{{ card.url }}">
        <h3 class="snippet__title">{{ card.data.title }}</h1>
        <p class="snippet__body">{{ card.data.description }}</p>
    </a>
</div>
