<li>
    <article class="snippet">
        <h3 class="snippet__title">{{ card.data.title }}</h3>
        <p class="snippet__body">{{ card.data.description }}</p> 
        <a href="{{ card.url }}"><img src="{{ card.data.image }}" alt="{{ card.data.imageAlt }}" class="snippet__image"></a> 
    </article>  
</li>