<li>
    <article class="snippet">
        <h3 class="snippet__title"><a href="{{ class.url }}">{{ class.data.title }}</a></h3>
        <p class="snippet__body">{{ class.data.description }}</p>
        <img src="{{ class.data.image }}" alt="{{ class.data.imageAlt }}" class="snippet__image">  
    </article>  
</li>