---
layout: 'base.njk'
---

<article class="main-article">
<div class="container container--narrow flow">
    <img src="{{ image1 }}" alt="{{ image1Alt }}">
    {{ content | safe }}

    <a href="{{ leaflet }}">下載單張</a>
  
</div>
</article>