
<div class="rtable-div-row">
    <div class="rtable-cell">{{ class.data.title }}</div>
    <div class="rtable-cell">{{ class.data.description }}</div>
    <div class="rtable-cell"><a href="{{class.data.leafet}}" target="_blank">閱讀更多</a></div>
</div>