<div class="footer">
    <div class="container">

            <div class="recent-news">
            <h1>最新消息</h1>

            <div class="feature">
                <div class="content">
                    <img src="/assets/job-opening-mobile.png" alt="job-opening">
                    <span><a href="#">職位空缺</a></span>
                </div>
                <a href="#">多媒體設計/ 數碼市場營銷主任</a>
            </div>

            <div class="feature">
                <div class="content">
                    <img src="/assets/news-mobile.png" alt="job-opening">
                    <span><a href="#">資訊</a></span>
                </div>
                <a href="#">最新服務安排（16日起至另行通知）</a>
            </div>

        </div>

            <div class="pages-link">
            <h1>頁面</h1>
            <ul class="quick-links-bottom">
                <li><a href="/#about-us">關於我們</a></li>
                <li><a href="/課程簡介/">課程簡介</a></li>
                <li><a href="/#working-with-us">與我們合作</a></li>
                <li><a href="/#contact-us">聯絡</a></li>
                <li><a href="/常見問題/">常見問題</a></li>
                <li><a href="/網站地圖/">網站地圖</a></li>
            </ul>
            </div>
            <div class="social-media-icon">
            <h1>關注我們</h1>
            <ul class="quick-media-shortcuts">
                <li class="facebook"><a href="#">Facebook</a><a href="#"><img src="/assets/Icon awesome-facebook-square.svg"></a></li>
                <li class="instagram"><a href="#">Intagram</a><a href="#"><img src="/assets/Icon awesome-instagram.svg"></a></li>
                <li class="linked-in"><a href="#">LinkedIn</a><a href="#"><img src="/assets/Icon awesome-linkedin.svg"></a></li>
                <li class="google-bussiness"><a href="#">Google我的商家</a><a href="#"><img src="/assets/Icon awesome-google.svg" alt="google icon"></a></li>
                <li class="youtube"><a href="#">Youtube</a><a href="#"><img src="/assets/Icon awesome-youtube.svg" alt="youtube icon"></a></li>
                <li class="twitter"><a href="#">Twitter</a><a href="#"><img src="/assets/Icon awesome-twitter-square.svg" alt="twitter icon"></a></li>
                <li class="wechat"><a href="#">微信</a><a href="#"><img src="/assets/Icon awesome-weixin.svg" alt="wechat icon"></a></li>
                
            </ul>
            </div>
    </div>
    <div class="copyright-reserved">
        <div class="container">
            <span>版權所有 © {% year %} Rookie Academy</span>
            <span><a href="#">私隱政策</a></span>
        </div>
    </div>
</div>