<p>導師陳sir </p>
<ul>
    <li>-	言語治療師</li>
    <li>-	言語治療師評估、計劃、組織和參與言語治療</li>
    <li>-	「地板時間」個別訓練</li>
    <li>-	循證實踐治療有特殊學習需要學童</li>
    <li>-	擅長改善學生的咬字及發音等問題</li>
    <li>-	教授有言語障礙的人士，包括幼童、青少年、成人，提升表達能力和理解能力</li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師Miss Wong </p>
<ul>
    <li>-	言語治療師</li>
    <li>-	富耐心，具言語治療的經驗</li>
    <li>-	擅長改善學生的咬字及發音問題，以及改善小朋友的表達能力和理解能力</li>
    <li>-	喜歡教授幼小學生主科，懂得遊戲治療</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師阮姑娘</p>
<ul>
    <li>-	註冊社工</li>
    <li>-	擅長改善學生的專注力及提升情緒管理技巧</li>
    <li>-	教學經驗豐富，擅長利用五感刺激及動靜態訓練</li>
    <li>-	運用有趣和活潑的方法，將書本教學實體化</li>
    <li>-	發掘學生潛能，幫助小朋友建立自信、融入校園生活</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師楊sir</p>
<ul>
    <li>-	註冊社工</li>
    <li>-	擅長舉辦不同的學校及大小型講座</li>
    <li>-	擅長設計專注力、社交、行為的課程及教導相關學生</li>
    <li>-	和諧粉彩準指導師，大家齊來加入藝術的世界，減少暴戾</li>
    <li>-	為人和藹親切，樂意接受意見</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師Miss Leung</p>
<ul>
    <li>-	註冊職業治療師</li>
    <li>-	曾於不同機構擔任職業治療師</li>
    <li>-	訓練對象包括小童、青少年、成人及長者</li>
    <li>-	職業治療師評估、計劃、組織和參與復康治療，協助發育遲緩及有特別學習需要的人建立及恢復日常生活技能及學習的獨立能力</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師Vincent sir</p>
<ul>
    <li>-	擅長訓練學童感覺整合系統，具擔任感覺統合導師經驗</li>
    <li>-	結合感覺統合理論、吸收及實踐教學理念</li>
    <li>-	富有特殊需要兒童託管班經驗，喜歡教授幼小學生主科</li>
    <li>-	擔任肢體活動教練、演示及帶領幼兒掌握健體技巧</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師 Miss Abby</p>
<ul>
    <li>-	曾擔任日校註冊老師，喜歡教授幼小學生主科 </li>
    <li>-	持有照顧不同學習需要的證書，樂於深入研究不同學生，以改善深層次存在問題</li>
    <li>-	擅長教授讀寫障礙、自閉症譜系等SEN學童</li>
    <li>-	擅長跟家長溝通和舉辦不同活動</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>導師芳姑娘 </p>
<ul>
    <li>-	擅長教授懷疑及確診有讀寫障礙的學生</li>
    <li>-	樂於改善學生的專注力問題</li>
    <li>-	舉辦不同的教學活動及參與學校服務</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<p>黃姑娘</p>
<ul>
    <li>-	擅長服務有特殊學習需要兒童</li>
    <li>-	修畢照顧不同學習需要學童課程</li>
    <li>-	積極參與義工服務</li>
    <li>-	喜歡教授幼小學生主科</li>
    <li>-	積極推動正向教育</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>


