---
title: Rookie Academy | 和孩子一起成長 | 解決學習需要
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/
keywords: 讀寫
---

<section class="hero">
    <div class="container">
        <div class="left-col">
            <p>本持終身學習 (LIFELONG LEARNING) 的理念</p><h1>和孩子一起<span>成長</span>解決學習需要</h1>
            <div class="hero-cta">
                <a class="primary-cta" href="/留言給我們/">預約查詢或評估</a>
                
            </div>
        </div>
        <img class="hero-img" src="/assets/zh-services-process-svg.svg" alt="step-by-step-guideline-for-seeking-consultation">
        
    </div>
</section>
<section style="background: white"> 
    <div class="carousel" data-carousel>
        <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
        <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
        <ul data-slides>
            <li class="slide" data-active>
                <a href="/2022-03-09-post/">
                <img src="/assets/uploads/誠邀感覺統合培訓員.jpg" alt="Image #1">
                </a>
            </li>
            <li class="slide">
                <a href="/2022-02-12-post/">
                <img src="/assets/uploads/英文寫作六步曲.jpg" alt="Image #2">
                </a>
            </li>
            <li class="slide">
                <a href="/2022-02-08-post/">
                <img src="/assets/uploads/posty.jpg" alt="Image #3">
                </a>
            </li>
            <li class="slide">
                <a href="/2022-12-23-post-5/">
                <img src="/assets/課程/2022年5月版本/甄別測試服務.jpg" alt="Image #4">
                </a>
            </li>
            <!--<li class="slide">
                <a href="/課程簡介/Halloween誠徵感統遊戲玩伴/">
                <img src="/assets/課程/2022年5月版本/Halloween誠徵感統遊戲玩伴.jpg" alt="Image #2">
                </a>
            </li>
            <li class="slide">
                <a href="/課程簡介/Halloween故事氹氹轉/">
                <img src="/assets/課程/2022年5月版本/Halloween故事氹氹轉.jpg" alt="Image #3">
                </a>
            </li>
            <li class="slide">
                <a href="/課程簡介/Halloween整色整水/">
                <img src="/assets/課程/2022年5月版本/Halloween整色整水.jpg" alt="Image #4">
                </a>
            </li>-->
        </ul>
    </div>
    <!--<a href="/課程簡介/2022秋季SEN特訓/"><img src="/assets/課程/2022年5月版本/秋季SEN特訓優惠.jpg" alt="2022秋季SEN特訓"></a>
    <a href="/課程簡介/Halloween誠徵感統遊戲玩伴/"><img src="/assets/課程/2022年5月版本/Halloween誠徵感統遊戲玩伴.jpg" alt="Halloween誠徵感統遊戲玩伴"></a>
    <a href="/課程簡介/Halloween故事氹氹轉/"><img src="/assets/課程/2022年5月版本/Halloween故事氹氹轉.jpg" alt="Halloween誠徵感統遊戲玩伴"></a>
    <a href="/課程簡介/Halloween整色整水/"><img src="/assets/課程/2022年5月版本/Halloween整色整水.jpg" alt="Halloween誠徵感統遊戲玩伴"></a>-->
</section>
<section class="about-section" id="about-us">
    <div class="container">
        <h1 class="about-section-caption">關於 Rookie<span>Academy</span></h1>
        <div class="punchline">
            <img class="about-us-img" src="/assets/about-rookie-academy-svg.svg" alt="about-us-img">
            <h2>「關愛學生，使他們發展才能」</h2>
        </div>
        <p>Rookie Academy (RA) 位於屯門和觀塘。我們的團隊由跨業界團隊合作統籌及主理特殊教育需要(SEN)的強效訓練課程， 主要教學及訓練對象由2歲至長者，相關課程包括至尊感覺統合服務、中文讀寫、英文讀寫、數理邏輯、行為管理、專注力提升、社交溝通技巧、情緒及心理輔導、資優課程、言語治療、密集式成長訓練服務等。</p>
        <p>機構宗旨為「關愛學生，使他們發展才能」。</p>
        <div class="overlapping-bridge">
            {% for card in collections.card | reverse %}
                {% include "card-snippet.njk" %}
            {% endfor %}
        </div>
        
        <!--<div class="overlapping-bridge">
            <div class="col-one">
                <h1>我們是</h1>
                <p>由一群專業人士及特殊教育需要老師組成的跨業界團隊，當中最富經驗的擁有十多年日校特殊教學需要學童的教學經驗。</p>
            </div>
            <div class="col-two">
                <h1>我們提供</h1>
                <p>初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難。</p>
            </div>
            <div class="col-three">
                <h1>實用資源</h1>
                <p>有助於您育兒技巧，了解發展里程，為孩子挑選最好。</p>
            </div>
            <div class="col-four">
                <h1>行動支援</h1>
                <p>我們為社區提供最好的早期教育服務，有賴您的協助。</p>
            </div>
        </div>-->
    </div>
</section>
<section class="blog">
    <div class="container">
        <h1 class="blog-caption">資源分享</h1>
        <div class="punchline">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                <path id="Icon_material-library-books" data-name="Icon material-library-books" d="M6,9H3V30a3.009,3.009,0,0,0,3,3H27V30H6ZM30,3H12A3.009,3.009,0,0,0,9,6V24a3.009,3.009,0,0,0,3,3H30a3.009,3.009,0,0,0,3-3V6A3.009,3.009,0,0,0,30,3ZM28.5,16.5h-15v-3h15Zm-6,6h-9v-3h9Zm6-12h-15v-3h15Z" transform="translate(-3 -3)"/>
            </svg>
            <h2>實用資源</h2>
        </div>
        <p>有助於您育兒技巧，了解發展里程，為孩子挑選最好。</p>
        <p>以下是一些有關育兒、升學的資訊。</p>
        <ul class="featured">
    
            {% for post in collections.featured | reverse %}
                {% include "article-snippet.njk" %}
            {% endfor %}

        </ul>
        <a class="view-blog" href="/實用資源/">最新資源分享</a>
    </div>
</section>
<section class="core-value-section" id="our-core-value">
    <div class="container">
        <h1 class="core-value-caption">我們的核心價值</h1>
        <ul class="core-values-list">
            <li>感官發展 — 發展前庭覺、觸覺、本體覺、視覺 、聽覺、味覺、嗅覺等，從而改善專注力等表現。</li>
            <li>「大肌肉」及「小肌肉」訓練 — 手眼協調到踢腳、爬行及跳躍等動作、提早訓練訓練手腳肌、小手指及腳趾活動等微細動作。</li>
            <li>多元智能 — 通過邏輯訓練活動，認識人、事、物的關係，引導孩子嘗試自己解決問題。</li>
            <li>倡導創造性思維 — 專業教具訓練孩子的創意思維，增強孩子對顏色、形狀、比例、視覺、音樂或節奏的感覺。</li>
            <li>促進參與和溝通的有意義的活動，扶助孩子領悟自我價值，提升個人自信。</li>
            <li>靜觀和自我認知訓練 — 鼓勵孩子正面表逹情緒、正確判斷、樂觀面對逆境。</li>
        </ul>
    </div>
</section>
<section class="mission-section" id="our-mission">
    <div class="container">
        <h1>我們的使命</h1>
        <div class="punchline">
            <img src="/assets/vision-svg.svg" alt="our-mission-img" class="our-mission-img">
            <h2>「成功的關鍵是終身學習。」</h2>
        </div>
        <p>我們提倡提高自主學習能力。</p>
        <p>自主學習是一種學習過程，要求學生對自己的學習承擔個人責任。在Rookie Academy，我們的孩子將參加不同類型的課程，以提高他們的自學能力。利用育兒和人際關係的力量，培養孩子成長的內在動力。</p>
    </div>
</section>
<section class="contact-us" id="contact-us">
    <div class="container">
        <div class="contact-left">
            <h1>聯絡我們</h1>
            <h3>電郵地址：</h3>
            <a href="mailto:admin@rookieacademy.org">admin@rookieacademy.org</a>
            <h3>電話：</h3>
            <a href="tel:+85296185765">9618 5765</a>
        </div>
        <div class="contact-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3691.1400406407997!2d114.22347481744384!3d22.310542900000023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404014542a0d667%3A0x42c7ec5010072f27!2z5rOT5a-M5buj5aC0!5e0!3m2!1szh-TW!2shk!4v1646221171889!5m2!1szh-TW!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</section>
<section class="services-section" id="our-services">
    <div class="container" style="list-style:none;">
        <h1>我們的服務</h1>
        <div class="punchline">
            <img src="/assets/service-svg.svg" alt="our-service-img">
            <h2>「照顧學生基本教學需要是我們首項目標。」</h2>
        </div>
        <p>我們致力於提高教學質素及教授學生應對考試的策略。</p>
        <p>我們的課程多元化，能照顧不同學生的學習需要，讓他們由難以投入學習，到漸漸喜歡學習，至自主學習，並加以應用。我們致力為不同學生度身訂製適合他們的學習課程，歡迎預約面見時間。憑藉優質的教學質素及穩健的拓展策略，我們成為知名度最高的教育機構之一，深受學生和家長喜愛。</p>
        <h2>最受歡迎課程</h2>
        {% for class in collections.popular %}
            {% include "class-snippet.njk" %}
        {% endfor %}
        <br>
        <a class="more-info-cta" href="/課程簡介/">閱讀更多</a>
    </div>
</section>
<section class="working-with-us-section" id="working-with-us">
    <div class="container">
        <h1>與我們合作</h1>
        <div class="punchline">
            <img src="/assets/helping-hand-svg.svg" alt="working-with-us-image">
            <h2>「我們尋找熱情的志願者與我們的 SEN 老師一起工作。」</h2>
        </div>
        <p>Rookie Academy現在正在尋找志願者和/或學生與我們的醫生、職業治療師、言語治療師和 SEN 教師合作，以舒緩我們的行政壓力。</p>
        <p>如果您有興趣加入我們，與我們的專業人員一起工作，請在以下空格填寫您的姓名、電子郵件、電話號碼和相關背景。我們的工作人員將與您聯繫跟進。</p>

        <a class="work-cta" href="/與我們合作/">填寫表格</a>
    </div>
</section>
<section class="mission-section" >
    <div class="container">
        <h1>人材資源</h1>
        <p>Miss Dora </p>
        <ul>
            <li>-	澳洲註冊心理學家</li>
            <li>-	澳洲心理學公會成員</li>
            <li>-	擁有香港教育文憑</li>
            <li>-	和諧粉彩準指導師</li>
            <li>-	繪畫心理分析高師 (Level 2)</li>
            <li>-	法國PFD初級花藝設計師文憑</li>
            <li>-   曾受訪於不同的電視及電台節目，多年在公私營機構、學校、醫院進行輔導及治療的輔導經驗，致力推廣身心靈健康</li>
            <li>-   擅長利用遊戲讓兒童及青少年認識及實踐認知行為治療及正向心理學</li>
            <li>-   Miss Dora 相信每個人都是獨一無二的。在輔導過程中，學生及家長能夠了解，接納並欣賞自己，發揮內在潛能、排解壓力、改善情緒、建立健康的關係</li>
        </ul>
        <hr>
        <p>Ms Tsui </p>
        <ul>
            <li>-	資深幼稚園校長、幼兒園園長</li>
            <li>-	幼稚園兼任視導導師</li>
            <li>-	幼稚園外間評核觀察員</li>
            <li>-	特殊教育、非華語及嬰幼兒遊戲導師</li>
            <li>-	體適能測試領袖</li>
            <li>-	幼兒營養設計工作</li>
            <li>-   喜歡兒童，富耐性、有愛心、友善、教學經驗豐富</li>
            <li>-   在教學上以兒童的興趣，能力和經驗為教育的起點，透過活動讓兒童在學習時能自主學習，善於溝通，勇於嘗試和敢於創新</li>
            <li></li>
        </ul>
        <hr>
        <p>Ms Wu </p>
        <ul>
            <li>-	曾任幼稚園課程發展顧問</li>
            <li>-	曾任幼稚園主任</li>
            <li>-	豐富教授有特殊教育需要學生的經驗</li>
            <li>-	擅長教授幼小學生學習語文</li>
            <li>-	善於與幼小學生共同透過多元化遊戲學習，提升他們學習的興趣及加強其專注能力</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>陳sir </p>
        <ul>
            <li>-	言語治療師</li>
            <li>-	言語治療師評估、計劃、組織和參與言語治療</li>
            <li>-	「地板時間」個別訓練</li>
            <li>-	循證實踐治療有特殊學習需要學童</li>
            <li>-	擅長改善學生的咬字及發音等問題</li>
            <li>-	教授有言語障礙的人士，包括幼童、青少年、成人，提升表達能力和理解能力</li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>Miss Wong </p>
        <ul>
            <li>-	言語治療師</li>
            <li>-	富耐心，具言語治療的經驗</li>
            <li>-	擅長改善學生的咬字及發音問題，以及改善小朋友的表達能力和理解能力</li>
            <li>-	喜歡教授幼小學生主科，懂得遊戲治療</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>阮姑娘</p>
        <ul>
            <li>-	註冊社工</li>
            <li>-	擅長改善學生的專注力及提升情緒管理技巧</li>
            <li>-	教學經驗豐富，擅長利用五感刺激及動靜態訓練</li>
            <li>-	運用有趣和活潑的方法，將書本教學實體化</li>
            <li>-	發掘學生潛能，幫助小朋友建立自信、融入校園生活</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>楊sir</p>
        <ul>
            <li>-	註冊社工</li>
            <li>-	擅長舉辦不同的學校及大小型講座</li>
            <li>-	擅長設計專注力、社交、行為的課程及教導相關學生</li>
            <li>-	和諧粉彩準指導師，大家齊來加入藝術的世界，減少暴戾</li>
            <li>-	為人和藹親切，樂意接受意見</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>Miss Leung</p>
        <ul>
            <li>-	註冊職業治療師</li>
            <li>-	曾於不同機構擔任職業治療師</li>
            <li>-	訓練對象包括小童、青少年、成人及長者</li>
            <li>-	職業治療師評估、計劃、組織和參與復康治療，協助發育遲緩及有特別學習需要的人建立及恢復日常生活技能及學習的獨立能力</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>Vincent sir</p>
        <ul>
            <li>-	擅長訓練學童感覺整合系統，具擔任感覺統合導師經驗</li>
            <li>-	結合感覺統合理論、吸收及實踐教學理念</li>
            <li>-	富有特殊需要兒童託管班經驗，喜歡教授幼小學生主科</li>
            <li>-	擔任肢體活動教練、演示及帶領幼兒掌握健體技巧</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>Miss Abby</p>
        <ul>
            <li>-	曾擔任日校註冊老師，喜歡教授幼小學生主科 </li>
            <li>-	持有照顧不同學習需要的證書，樂於深入研究不同學生，以改善深層次存在問題</li>
            <li>-	擅長教授讀寫障礙、自閉症譜系等SEN學童</li>
            <li>-	擅長跟家長溝通和舉辦不同活動</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>芳姑娘 </p>
        <ul>
            <li>-	擅長教授懷疑及確診有讀寫障礙的學生</li>
            <li>-	樂於改善學生的專注力問題</li>
            <li>-	舉辦不同的教學活動及參與學校服務</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
        <p>黃姑娘</p>
        <ul>
            <li>-	擅長服務有特殊學習需要兒童</li>
            <li>-	修畢照顧不同學習需要學童課程</li>
            <li>-	積極推動正向教育</li>
            <li>-	喜歡教授幼小學生主科</li>
            <li>-	積極參與義工服務</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <hr>
    </div>
</section>




