---
layout: base.njk
title: 家長留言板
description: 我們出色的家長
canonical: https://rookieacademy.org/%E5%AE%B6%E9%95%B7%E7%95%99%E8%A8%80%E6%9D%BF/
keywords: 留言,讚美,分享,負評,黑店
---
<section class="blog-primary">
    <div class="container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
            <path id="Icon_material-library-books" data-name="Icon material-library-books" d="M6,9H3V30a3.009,3.009,0,0,0,3,3H27V30H6ZM30,3H12A3.009,3.009,0,0,0,9,6V24a3.009,3.009,0,0,0,3,3H30a3.009,3.009,0,0,0,3-3V6A3.009,3.009,0,0,0,30,3ZM28.5,16.5h-15v-3h15Zm-6,6h-9v-3h9Zm6-12h-15v-3h15Z" transform="translate(-3 -3)"/>
        </svg>
        <h1>家長留言板</h1>
    </div>
    <p>我們出色的家長</p>
    <p>感謝您們對我司的支持。</p>
</section>
<section class="blog-snippet">
    <div class="container">
        <h1>家長留言板</h1>
        <ul role="list">
            {% for post in collections.test | reverse %}
                {% include "article-snippet.njk" %}
            {% endfor %}
        <ul>
    </div>
</section>


