---
layout: base.njk
title: Rookie Academy | 實用資源 | 精選文章
---

<div class="section container">


<ul role="list" class="articles__list flow">
    <h1 class="section-title">實用資源 | 精選文章</h1>
    {% for post in collections.post | reverse %}
    {% include "article-snippet.njk" %}
    {% endfor %}

</ul>

</div>