---
title: Rookie Academy | 常見問題
layout: base.njk
---
<section class="faq-section">
    <div class="container">
        <div class="punchline">
            <img src="/assets/faq.svg" alt="faq logo">
            <h1>常見問題</h1>
        </div>
        <h3>學生及申請者須知</h3>
        <ul class="faq-list">
            <li>1.學生須有可用的上課器材，例如：桌面電腦、平板電腦或手機(鏡頭+擴音器+收音耳機)等，課堂前先完成下載及安裝Zoom/Google Meet。</li>
            <li>2.學生須有穩定的網上連線速度、數據或wifi，足夠連續使用每個課堂，並請於整個課堂開啟視訊並面對鏡頭。</li>
        </ul>
        <h3>假期及請假須知</h3>
        <ul class="faq-list">
            <li>1.本中心開放時間可以由星期一至日上午10:00-晚上7:00 (節慶假期休息) [視乎需要增減]</li>
            <li>2.所有學費及費用一經繳交，都不會退還。任何學生缺課(任何課堂)，沒有請假及經沒有本中心確認者，課堂不會補回，也不作退款安排。</li>
            <li>3.學生因要事未能上課時，請學生家長預早最少5天填寫申請表；生病未能上課時，請學生家長預早1天或之前盡早通知；臨時病假亦請在合理情況下盡快通知，並於翌日遞交書面證明及/或醫生證明，否則所缺的1:1課堂及所有2人或以上的小組班課程的課堂不獲補回，本中心保留最終決定權。因所有小組活動及既定的單對單時間仍會繼續進行及早已預留，而不能因個人而遷就單方。</li>
            <li>4.所有補課的學生須在當月內/該期課堂完成前/指定日子及時間內，經本中心安排及同意的時間下，補完所缺課程。</li>
            <li>5.任何課程(包括1:1教學及小組課堂)須在當月/當期內完成，不可延堂至下月或下期。</li>
            <li>6.如補課在課程完成前仍未補完，不可延遲至下月或下期。</li>
            <li>7.所有2人或以上小組班課程的學生缺課，該生不獲單獨補課。如該期內未有相關的小組，可1:1上課，並補回差價(原價計算)。</li>
            <li>8.小組班的學生按月/按期計算，如遇公眾假期放假/請假，所有課堂須於本中心安排下補課。</li>
            <li>9.任何事故未能依時上課的學生(包括1:1教學)，作自動缺課論，學費不可退換，課堂不會補回。</li>
            <li>10.線上課程，不設請假。如果在上課時段未能在一個適合的環境上課，可以在該課堂選擇閉屏和閉聲。</li>
            <li>11.參加暑期課程、功輔溫習班、託管班、密集式訓練班、綜合訓練班、各小組的學生如個別原因或颱風影響，而未有上課及或令課堂被迫取消，本中心不會退回所交的全部費用(包括報名行政費、雜費、學費)及不會補堂及調堂。</li>
            <li>12.如導師因任何原因而被更換/代替，不作另行通知，申請者及學生不得異議。</li>
            <li>13.若因由世衛定名的新冠肺炎(COVID-19)疫情問題而停止功輔溫習託管班和2人或以上的小組班課程，餘下的課堂不獲補回，因所有小組活動仍會繼續進行而不能因個人而遷就單方。如學生染上任何傳染病，須接受診治及留在家中休息。</li>
        </ul>
        <h3>繳交學費須知</h3>
        <ul class="faq-list">
            <li>1.學生所繳交的學費，因個人任何原因，例如病假、事假及缺席而未能上課，本中心一律不予退還或扣減任何費用，已繳交的學費亦不能當下期學費及/或其他課程的學費使用。申請者及家長已清楚明白及同意申請表或收據上的所有內容，並已於交費後取回收據。如在繳費當天之後因任何理由欲申請收據，需繳交$100額外行政等雜費。</li>
            <li>2.申請調堂者須提前最少5天，並經由本中心同意及按本中心指示與安排，方可調堂及補堂。如5天內才請求調堂，中心將每堂收取$50。每期課程只能調動課堂一次，若多於一次，本中心將每堂上課時間和/或日子的調動收取$100行政費等雜費。所有課堂 (包括原價或/及任何優惠等學費減免或送堂或試堂) 在報名繳交學費後均不獲退款。參加者須如期準時參加課程，缺席上課、遲到者 (逾時不候) 及中途退出者，亦不能補堂、補時及不會退回全部或部分學費，作自動放棄該課堂論。學生到達本中心後而沒有上課、未完成整堂、或沒有成功申請調堂者，一律不予退還或扣減任何費用；如欲於額外時間補堂，須自行繳交半數學費(原價計算)及下一期學費，方可補堂，時間由中心安排。</li>
            <li>3.如有任何上課時間需要改變，都必須先填寫申請表，並獲本中心准許，依從本中心的指示處理。如申請者需再次因任何原因調堂，先填申請表，待本中心同意後，須自行繳交半數學費(原價計算)及下一期學費，方可補堂，時間由中心安排。</li>
            <li>4.凡逾期繳交學費者，本中心有權視情況而決定接納與否。名額不得轉讓，各課堂只供已報名的參加者出席，不得代為上課。</li>
            <li>5.所有課程在每月最後兩堂前或該月20號前/繳交學費(按不同課程而定)，以作留位安排，先到先得。</li>
            <li>6.學生必須按時繳交每月/每期學費，無故退學或自行缺席者，亦須繳交當月全期學費，本中心有權追討欠交學費者。</li>
            <li>7.若學生已經預先出席下月任何一堂，須立即繳交該課程全月學費，不得異議。本中心有權追討欠交學費者。</li>
            <li>8.本中心在特殊情況下預定的課程，在未夠人數或其他中心的一些原因而未能開班時，本中心有權更改課程，上課時間有待重新安排或取消課程。</li>
            <li>9.本中心有權即時拒絕任何滋擾人士或影響中心正常運作的申請者及學生上課及不得進入本中心範圍之內。若在中心決定批准的情況下，有關所有退款事宜及安排，申請者須先繳付相等於原定學費10%的手續費(所有行政費及雜費等不會退回)，並扣除已經上課堂數的費用(每堂以原價計算，免費送堂不計算學費退回之列)，餘數將以本中心指定方式退還。</li>
            <li>10.如獲免費課堂或獲邀參加活動，須先填表再由本中心安排指定時間及地點，未能參與者當放棄論，不會退減免費課堂及該活動的費用。</li>
            <li>11.本中心有權增減各個課程的學費，以及修改各個課程的內容及本申請表的內容，而不須另行通知。</li>
            <li>12.如有任何爭議，本中心保留最終決定權和行使權。</li>
        </ul>
    </div>
</section>
<section class="weather-policy-section">
    <div class="container">
        <div class="rtable">
            <div class="rtable-caption">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236.162 236.162">
                    <path id="Icon_metro-weather5" data-name="Icon metro-weather5" d="M187.072,31.448a51.182,51.182,0,0,0-7.284.519,73.229,73.229,0,0,0-118.273,0,51.181,51.181,0,0,0-7.284-.519,51.66,51.66,0,1,0,0,103.321,51.118,51.118,0,0,0,18.316-3.382,72.846,72.846,0,0,0,96.209,0,51.118,51.118,0,0,0,18.316,3.382,51.66,51.66,0,0,0,0-103.321ZM46.851,149.529a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,46.851,149.529Zm73.8,14.76a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,120.652,164.289Zm73.8-14.76a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,194.452,149.529Zm-29.52,59.04a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,164.932,208.569Zm-88.561,0a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,76.371,208.569Z" transform="translate(-2.571 -1.928)"/>
                </svg>
                <h1>天氣安排</h1>
            </div>
            <div class="rtable-head-row">
                <div class="rtable-cell">
                    <p>颱風信號</p>
                </div>
                <div class="rtable-cell">
                    <p>暴雨警告信號</p>
                </div>
                <div class="rtable-cell desc">
                    <p>本中心課堂</p>
                </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>一號風球</p>
                </div>
                <div class="rtable-cell">
                    <p>黃色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p>如常進行</p>
                </div>
            </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>三號風球</p>
                </div>
                <div class="rtable-cell">
                    <p>紅色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p>可選擇抵達中心的學生繼續上課</p>
                </div>
            </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>八號或以上風球</p>
                </div>
                <div class="rtable-cell">
                    <p>黑色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p><strong style="color:red">如八號或上風球：</strong><br>1.所有課堂即時停止或取消<br>2.如課堂舉行前兩小時仍懸掛，課堂則取消</p><p><strong style="color:red">如只有黑色暴雨警告：</strong><br>1.抵達學院之學生繼續上<br>2.如課堂舉行前兩小時仍懸掛，課堂則取消</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>