---
title: Rookie Academy | 常見問題
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/%E5%B8%B8%E8%A6%8B%E5%95%8F%E9%A1%8C%0A/
keywords: 
---
<style>
    .unselectable{
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
</style>
<section class="faq-section unselectable">
    <div class="container">
        <div class="punchline">
            <img src="/assets/faq.svg" alt="faq logo">
            <h1>常見問題</h1>
            <p>訓練多久會進步 / 影響訓練效果的因素?</p>
            <ol>
                <li>視乎訓練人士的體能及耐力</li>
                <li>訓練人士的情緒穩定性</li>
                <li>訓練人士的康復程度及階段</li>
                <li>訓練人士的健康狀況及身體機能</li>
                <li>思維能力方面，包括：集中力、記憶力、理解能力</li>
                <li>訓練人士及家人/照顧者的參與性和積極性 (態度)</li>
                <li>藥物副作用(如有)</li>
            </ol>
            <p id="500">首次報名$500現金券使用細則：</p>
            <ol>
                <li>數量有限，送完即止</li>
                <li>每位小朋友只能享用一次優惠。</li>
                <li>請於報名時出示，優惠可能只適合指定課程，詳情請與本中心主任查詢。</li>
                <li>如有任何爭議，本中心保留最終決定權。</li>
                <li>如有任何更改，恕不另行通知，本中心保留更改、終止及即時修改有關活動條款及細則之權利。</li>
                <li>未能與其他優惠同時使用(如暑期班/聖誕班節日優惠等)</li>
            </ol>
        </div>
        <!--<h4 style="text-align:right">截至2022年8月版本 版權所有</h4>
        <h3>敬請注意：</h3>
        <ul class="faq-list">
            <li>1.一經報名，申請者繳交的所有費用，包括：學費、評估費、測試費、行政費、雜費等，均不會發還，不可隨意要求調堂及補堂。優惠課堂，不設退款、補堂及調堂。如需測試報告，請額外繳交費用，預時約20-30天，一經收取，不能退回。本人(即申請人)同意及遵守共四頁申請表上的「報名須知」、「聲明」、「學生須知」及此收據上的所有內容，而且知悉、了解及願意遵守本中心的各項課程細則。</li>
            <li>2.為提供較理想的學習環境給小朋友，加上防疫措施指引，接送上學及放學的家長請在商場及空曠地方輕鬆一會，不宜在門外等候；並請準時送到及接走學生。學生須準時上課及下課，逾時不候，本中心沒有責任照顧課前或課後學生的安全。如學生缺席、遲到、退出等等，均不會發還任何費用，也不設補堂。</li>
            <li>3.任何情況下，不可要求更換導師或增減授課內容。本中心有權因需要及按情況安排不同導師執教而不作另行通知。</li>
            <li>4.本中心課程的主要教學及訓練對象是12歲及以下而又可以獨立跟同學或導師上課及不需家長陪伴的人士，不包括為申請者或家長提供額外的教學。申請表不宜加入課堂而影響課程進展及該生的課堂表現，也不可要求導師提供額外及個別的教學指導。家長可繳費參與不定期的家長講座及指導課程或成人訓練課程，為閣下額外設計適合其個人需要的課程（必須繳費）。</li>
            <li>5.因不是親子課堂，所以不設觀課、不設聽課、不設錄影、不設拍照等。家長可放手讓孩子成長，感受上課的樂趣。</li>
            <li>6.必須交齊全單整數費用方能開課，以便大家安排。所有測試、課堂及服務須於繳費日起一至三個月內及之前完成。申請前必須與相關教學主任共同決定教學日子及時間，如申請者因個人理由在繳費後仍未能劃定時間，則按老師仍然許可的當值時間決定上課時間，或視作申請者放棄測試及上課論而不作任何退款及不會改時。申請者必須於申請的同日內繳交所有及餘下款項(若有)，沒有「來訂」的概念，否則本中心視作申請者放棄測試及上課論而不作任何退款。詳情請查看此收據內容。</li>
            <li>7.同學請先在進入教室前準備好上課的心情，並於上堂前去洗手間及換片等其他事宜；亦須準時到達及接送學童，好讓我們的人手安排更順暢。如有額外要求，請先盡早知會教職員能否配合，並清晰說出相關指引。</li>
        </ul>
        <h3>學生及申請者須知</h3>
        <ul class="faq-list">
            <li>1.報名時，請填妥個人資料及所報讀的課程內容。$150行政費及$500雜費在任何情況下都不會退回費用。必須交齊全單整數費用方能開課，以便大家安排。所有測試、課堂及服務須於繳費日起一至三個月內及之前完成。開課前必須與相關教學主任共同決定教學日子及時間，詳情請查看此收據內容。如因個人特別理由，申請者必須於同日內繳交餘下款項(若有)，否則本中心視作申請者放棄測試及上課論而不作任何退款。</li>
            <li>2.保持課室寧靜，為己為人，不可大聲喧嘩和爭吵。不可在本中心內飲食。如有需要，可於本中心門外進行。</li>
            <li>3.家長必須準時接送學生上學和放學，須保持安靜，並在本中心門外等候。</li>
            <li>4.在報讀此課程後，不可要求本中心更改導師或增減授課內容。不可要求指定導師及不可要求轉換導師。</li>
            <li>5.保持課室清潔衛生，不得塗鴉，不可亂拋垃圾。違者須依本中心要求賠償。</li>
            <li>6.學生的個人資料，例如地址和電話等有所更改，請即通知本中心，以便聯絡。</li>
            <li>7.學生須有可用的上課器材，例如：桌面電腦、平板電腦或手機(鏡頭+擴音器+收音耳機)等，課堂前先完成下載及安裝Zoom。</li>
            <li>8.學生須有穩定的網上連線速度、數據或Wi-Fi，足夠連續使用每個課堂，並請於整個課堂開啟視訊並面對鏡頭。</li>
        </ul>
        <h3>假期及請假須知</h3>
        <ul class="faq-list">
            <li>1.本中心開放時間可以由星期一至日上午10:00-晚上7:00 (節慶假期休息) [視乎需要增減]</li>
            <li>2.所有學費及費用一經繳交，都不會退還。任何學生缺課(任何課堂)，沒有請假及經沒有本中心確認者，課堂不會補回，也不作退款安排。</li>
            <li>3.因事假申請補堂必須先自行提交當天的有效學校證明(因私人活動而沒有上課者，不設補堂)，病假申請補堂必須先自行提交當天的有效病假證明，請主動跟同事提前最少5-10個工作天申請，否則不能處理。</li>
            <li>4.學生因要事未能上課時，請學生家長預早最少5天填寫申請表；生病未能上課時，請學生家長預早1天或之前盡早通知；臨時病假亦請在合理情況下盡快通知，並於翌日遞交書面證明及/或醫生證明，否則所缺的1:1課堂及所有2人或以上的小組班課程的課堂不獲補回，本中心保留最終決定權。因所有小組活動及既定的單對單時間仍會繼續進行及早已預留，而不能因個人而遷就單方。</li>
            <li>5.所有補課的學生須在當月內/該期課堂完成前/指定日子及時間內，經本中心安排及同意的時間下，補完所缺課程。</li>
            <li>6.任何課程(包括1:1教學及小組課堂)須在當月/當期內完成，不可延堂至下月或下期。</li>
            <li>7.如補課在課程完成前仍未補完，不可延遲至下月或下期。</li>
            <li>8.所有2人或以上小組班課程的學生缺課，該生不獲單獨補課。如該期內未有相關的小組，可1:1上課，並補回差價(原價計算)。</li>
            <li>9.小組班的學生按月/按期計算，如遇公眾假期放假/請假，所有課堂須於本中心安排下補課。</li>
            <li>10.本中心定時為參加者量度體溫，如發現有發病表徵，會立即終止該參加者的任何班組/活動，並通知其緊急聯絡人盡快接返離開。參加者若身體不適，應留在家中休息。</li>
            <li>11.如學生染上任何傳染病，須接受診治及留在家中休息，直至完全康復。由於小組課堂跟同學同時間上課，缺席者不獲補堂及不會退款。</li>
            <li>12.任何事故未能依時上課的學生(包括1:1教學)，作自動缺課論，學費不可退換，課堂不會補回。</li>
            <li>13.線上課程，不設請假。如果在上課時段未能在一個適合的環境上課，可以在該課堂選擇閉屏和閉聲。</li>
            <li>14.參加暑期課程、功輔溫習班、託管班、密集式訓練班、綜合訓練班、各小組的學生如個別原因或颱風影響，而未有上課及或令課堂被迫取消，本中心不會退回所交的全部費用(包括報名行政費、雜費、學費)及不會補堂及調堂。</li>
            <li>15.如三號或以下熱帶氣旋信號及黃色或紅色暴雨警告信號懸掛時，中心照常上課，家長應視乎天氣情況決定是否讓子女上課或出席有關活動。如天文台公佈即將懸掛黑色暴雨或八號/以上信號，中心將會即時停課，家長請盡快接回學生。如開課時間前2小時八號或以上信號及/或黑色暴雨警告信號仍然懸掛時，中心將停課。因天氣影響而被迫取消的課堂，都不設補課或補堂。如颱風警告於早上11:00後更改為三號颱風，本中心全日暫停開放，並不設補堂。如除下八號信號及/或黑色暴雨警告信號，中心將於颱風訊號或暴雨警告除下2小時後照常辦公及上課。(以上措施適用於所有課程，並只作一般參考。在任何情況下，參加者及家長應考慮各地區之天氣、道路及交通等情況，以決定是否前往本中心參與各項活動。凡在此情況下缺席課堂及活動，均不獲補課、調堂及退款。)</li>
            <li>16.如導師因任何原因而被更換/代替，不作另行通知，申請者及學生不得異議。</li>
            <li>17.若因由世衛定名的新冠肺炎(COVID-19)疫情問題而停止功輔溫習託管班和2人或以上的小組班課程，餘下的課堂不獲補回，因所有小組活動仍會繼續進行而不能因個人而遷就單方。如學生染上任何傳染病，須接受診治及留在家中休息。</li>
            <li>18.若家長或學生放棄上課，餘下的單人及小組課堂不獲補回及不會退款。</li>
        </ul>
        <h3>繳交學費等其他須知</h3>
        <ul class="faq-list">
            <li>1.學生所繳交的學費，因個人任何原因，例如病假、事假及缺席而未能上課，本中心一律不予退還或扣減任何費用，已繳交的學費亦不能當下期學費及/或其他課程的學費使用。申請者及家長已清楚明白及同意「已簽妥」申請表或收據上的所有內容，並已於交費後取回收據。如在繳費當天之後因任何理由欲申請收據，需繳交$100額外行政等雜費。</li>
            <li>2.事假申請調堂者(須先自行提交學校事假證明，私人活動不設事假補堂申請)須提前最少5天，並經由本中心同意及按本中心指示與安排，方可調堂及補堂。如5天內才請求調堂，中心將每堂收取$50。每期課程只能調動課堂一次，若多於一次，本中心將每堂上課時間和/或日子的調動收取$100行政費等雜費。所有課堂 (包括原價或/及任何優惠等學費減免或送堂或試堂) 在報名繳交學費後均不獲退款。參加者須如期準時參加課程，缺席上課、遲到者 (逾時不候) 及中途退出者，亦不能補堂、補時及不會退回全部或部分學費，作自動放棄該課堂論。學生到達本中心後而沒有上課、未完成整堂、或沒有成功申請調堂者，一律不予退還或扣減任何費用；如欲於額外時間補堂，須自行繳交半數學費(原價計算)及下一期學費，方可補堂，時間由中心安排。</li>
            <li>3.如有任何上課時間需要改變，都必須先填寫申請表，並獲本中心准許，依從本中心的指示處理。如申請者需再次因任何原因調堂，先填申請表，待本中心同意後，須自行繳交半數學費(原價計算)及下一期學費，方可補堂，時間由中心安排。</li>
            <li>4.凡逾期繳交學費者，本中心有權視情況而決定接納與否。名額不得轉讓，各課堂只供已報名的參加者出席，不得代為上課。</li>
            <li>5.所有課程在每月最後兩堂前或該月20號前/繳交學費(按不同課程而定)，以作留位安排，先到先得。</li>
            <li>6.學生必須按時繳交每月/每期學費，無故退學或自行缺席者，亦須繳交當月全期學費，本中心有權追討欠交學費者。</li>
            <li>7.若學生已經預先出席下月任何一堂，須立即繳交該課程該期或該月學費，不得異議。本中心有權追討欠交學費者及採取法律行動。</li>
            <li>8.特殊情況下預定的課程，在未夠人數或其他中心的一些原因而未能開班時，本中心有權更改課程與否，上課時間或有待重新安排或取消課程。</li>
            <li>9.導師致力顧及每一位學員的安全，包括小組活動及單對單訓練。不論有沒有懷疑或確診有特殊教育需要的學員，若本身有行為或情緒等問題，例如自傷及傷人等行為，而令自身或/及組員受傷，則須自行承受潛在的受傷風險。家長已衡量及接受其風險的可能性後才決定讓學員參加本中心的小組活動及訓練，並明白本中心可以選擇慰問及了解與否，以及同意這不屬於中心的責任。</li>
            <li>10.因申請者個人特別理由或考慮申請者的特殊情況下而欲申請退款，若在中心決定批准的情況下，申請者須先繳付相等於原定繳費10%的行政費(即收據上的總額，所有費用不會退回)，並扣除已經上課堂數及部分堂數的費用(每堂以原價即正價計算)。若已經完成免費課堂，本中心亦會要求申請者必須補交免費課堂的費用(以正價計算)，餘數將以本中心指定方式退還，本中心保留退還多少(包括相關堂數及款項)的安排。最終退還與否，都不得異議，由本中心決定。本中心再次強調所有學費及費用一經繳交，都不會退還。</li>
            <li>11.如獲免費課堂或獲邀參加活動，須先填表再由本中心安排指定時間及地點，未能參與者當放棄論，不會退減免費課堂及該活動的費用。</li>
            <li>12.本中心有權即時拒絕任何滋擾人士或影響中心正常運作的申請者及學生上課及不得進入本中心私人範圍之內。</li>
            <li>13.本中心有權增減各個課程的學費，以及修改各個課程的內容及本申請表和收據的內容，而不須另行通知，以最近更新的版本作準。</li>
            <li>14.一切以文字及書面文件作準。如有任何爭議，本中心保留及擁有所有最終決定權和行使權，不得異議。</li>
        </ul>-->
    </div>
</section>
<section class="weather-policy-section">
    <div class="container">
        <div class="rtable">
            <div class="rtable-caption">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 236.162 236.162">
                    <path id="Icon_metro-weather5" data-name="Icon metro-weather5" d="M187.072,31.448a51.182,51.182,0,0,0-7.284.519,73.229,73.229,0,0,0-118.273,0,51.181,51.181,0,0,0-7.284-.519,51.66,51.66,0,1,0,0,103.321,51.118,51.118,0,0,0,18.316-3.382,72.846,72.846,0,0,0,96.209,0,51.118,51.118,0,0,0,18.316,3.382,51.66,51.66,0,0,0,0-103.321ZM46.851,149.529a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,46.851,149.529Zm73.8,14.76a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,120.652,164.289Zm73.8-14.76a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,194.452,149.529Zm-29.52,59.04a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,164.932,208.569Zm-88.561,0a14.76,14.76,0,1,0,14.76,14.76A14.751,14.751,0,0,0,76.371,208.569Z" transform="translate(-2.571 -1.928)"/>
                </svg>
                <h1>天氣安排</h1>
            </div>
            <div class="rtable-head-row">
                <div class="rtable-cell">
                    <p>颱風信號</p>
                </div>
                <div class="rtable-cell">
                    <p>暴雨警告信號</p>
                </div>
                <div class="rtable-cell desc">
                    <p>本中心課堂</p>
                </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>一號風球</p>
                </div>
                <div class="rtable-cell">
                    <p>黃色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p>如常進行</p>
                </div>
            </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>三號風球</p>
                </div>
                <div class="rtable-cell">
                    <p>紅色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p>可選擇抵達中心的學生繼續上課</p>
                </div>
            </div>
            <div class="rtable-div-row">
                <div class="rtable-cell">
                    <p>八號或以上風球</p>
                </div>
                <div class="rtable-cell">
                    <p>黑色暴雨</p>
                </div>
                <div class="rtable-cell desc">
                    <p><strong style="color:red">如八號或上風球：</strong><br>1.所有課堂即時停止或取消<br>2.如課堂舉行前兩小時仍懸掛，課堂則取消</p><p><strong style="color:red">如只有黑色暴雨警告：</strong><br>1.抵達學院之學生繼續上<br>2.如課堂舉行前兩小時仍懸掛，課堂則取消</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>