---
title: 廣州教育活動分享
layout: base.njk
description: 本中心復活節假期也沒有偷懶，在廣州實地考察同行教育活動，並在此分享給大家。
canonical: https://rookieacademy.org/%E5%BB%A3%E5%B7%9E%E6%95%99%E8%82%B2%E6%B4%BB%E5%8B%95%E5%88%86%E4%BA%AB/
keywords: 
---
<p>今個復活節，RA深入廣州實地考察當地幼稚園同行教育實況，在此處分享一些相片給大家。</p>
<img src="/assets/uploads/kc(1).jpeg" alt="">
<img src="/assets/uploads/kc(2).jpeg" alt="">
<img src="/assets/uploads/kc(3).jpeg" alt="">
<img src="/assets/uploads/kc(4).jpeg" alt="">
<img src="/assets/uploads/kc(5).jpeg" alt="">
<img src="/assets/uploads/kc(6).jpeg" alt="">
<img src="/assets/uploads/kc(7).jpeg" alt="">
<img src="/assets/uploads/kc(8).jpeg" alt="">
<img src="/assets/uploads/kc(9).jpeg" alt="">
<img src="/assets/uploads/kc(10).jpeg" alt="">
<img src="/assets/uploads/kc(11).jpeg" alt="">
<img src="/assets/uploads/kc(12).jpeg" alt="">
<img src="/assets/uploads/kc(13).jpeg" alt="">
<img src="/assets/uploads/kc(14).jpeg" alt="">
<img src="/assets/uploads/kc(15).jpeg" alt="">
<img src="/assets/uploads/kc(16).jpeg" alt="">
<img src="/assets/uploads/kc(17).jpeg" alt="">


