---
title: Rookie Academy | 歡迎預約諮詢
layout: base.njk
---
<section class="join-us-section">
    <div class="container">
        <div class="punchline"><img src="/assets/make-an-appointment.svg" alt="make an appointment logo">
        </div>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115510100775738866443/form/1FAIpQLSdrqMoOgyBilZFAMuZlh7mpYCM9BJYC5rUdqh885plGIn0s0w/classic.js?div=ff-compose"></script>
    </div>
</section>