---
title: Rookie Academy | 歡迎預約諮詢
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/%E7%95%99%E8%A8%80%E7%B5%A6%E6%88%91%E5%80%91%0A%0A/
keywords: 
---
<section class="join-us-section">
    <div class="container">
        <div class="punchline"><img src="/assets/make-an-appointment.svg" alt="make an appointment logo">
        </div>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115510100775738866443/form/1FAIpQLSdrqMoOgyBilZFAMuZlh7mpYCM9BJYC5rUdqh885plGIn0s0w/classic.js?div=ff-compose"></script>
    </div>
</section>