---
title: Rookie Academy | 網站地圖
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/%E7%B6%B2%E7%AB%99%E5%9C%B0%E5%9C%96%0A/
keywords: 
---

<div>
    <ul class="level-0">
        <li><a href="/" title="和孩子一起成長解決學習需要">主頁</a>
            <ul class="level-1">
                <li><a href="/#about-us">關於RookieAcademy</a></li>
                <li><a href="/#our-core-value">我們的核心價值</a></li>
                <li><a href="/#our-mission">我們的使命</a></li>
                <li><a href="/#contact-us">聯絡我們</a></li>
                <li><a href="/#our-services">我們的服務</a></li>
                <li><a href="/#working-with-us">與我們合作</a></li>
            </ul>
        </li>
        <li><a href="/常見問題/" title="常見問題 ">常見問題 </a></li>
        <li><a href="/留言給我們/" title="預約查詢或評估">預約查詢或評估</a></li>
        <li><a href="/課程簡介/" title="課程簡介">課程簡介</a>
            <h3>一般專科及特色班</h3>
            <ul class="level-1">
                <li><a href="/assets/看圖識字及造句特訓班.pdf">看圖強效識字及造句特訓班</a></li>
                <li><a href="/assets/%E4%B8%AD%E6%96%87_%E8%8B%B1%E6%96%87%E8%AD%98%E5%AD%97%E8%A8%88%E5%8A%83.pdf">中文/英文識字計劃</a></li>
                <li><a href="/assets/%E8%8B%B1%E6%96%87%E5%AF%AB%E4%BD%9C%E5%85%AD%E6%AD%A5%E6%9B%B2%E6%8B%94%E5%B0%96%E8%A8%88%E5%8A%83.pdf">英文寫作六步曲拔尖計劃</a></li>
                <li><a href="/assets/%E8%8B%B1%E6%96%87%E7%89%B9%E8%89%B2%E8%AA%B2%E7%A8%8B.pdf">英文特色課程</a></li>
                <li><a href="/assets/%E4%B8%AD%E6%96%87%E9%96%B1%E8%AE%80%E7%90%86%E8%A7%A3_%E4%B8%AD%E6%96%87%E5%AF%AB%E4%BD%9C.pdf">中文學習範疇</a></li>
                <li><a href="/assets/%E9%96%B1%E8%AE%80%E7%90%86%E8%A7%A3%E3%80%81%E5%89%B5%E6%84%8F%E5%AF%AB%E4%BD%9C.pdf">英文學習範疇 | 閱讀理解 | 寫作訓練</a></li>
                <li><a href="/assets/%E8%AA%8D%E5%AD%97%E8%AD%98%E8%AE%80%E3%80%81Phonics%E6%8B%BC%E9%9F%B3%E4%B8%B2%E5%AD%97.pdf">英文學習範疇 | 認字故事 | Phonics拼音串字</a></li>
                <li><a href="/assets/%E6%96%87%E6%B3%95%E3%80%81%E8%81%BD%E8%AA%AA.pdf">英文學習範疇 | 文法訓練班 | 聽說班</a></li>
                <li><a href="/assets/%E5%B9%BC%E7%A8%9A%E5%9C%92%E3%80%81%E5%B0%8F%E5%AD%B8%E6%95%B8%E5%AD%B8%E5%B0%88%E7%A7%91.pdf">幼稚園、小學數學專科</a></li>
                <li><a href="/assets/%E4%B8%AD%E8%8B%B1%E6%95%B8%E5%91%88%E5%88%86%E8%A9%A6%E7%89%B9%E8%A8%93.pdf">小學呈分試特訓班</a></li>
                <li><a href="/assets/%E5%B9%BC%E7%A8%9A%E5%9C%92%E8%AA%B2%E7%A8%8B.pdf">幼稚園能力提升、升小一面試</a></li>
                <li><a href="/assets/2022%20%E6%9A%91%E6%9C%9F%E5%A4%8F%E4%BB%A4%E7%87%9F.pdf">2022 暑期夏令營</a></li>
            </ul>
            <br>
            <h3>SEN特殊教育需要課程</h3>
            <ul class="level-1">
                <li><a href="/assets/%E7%94%84%E5%88%A5%E6%B8%AC%E8%A9%A6%E6%9C%8D%E5%8B%99.pdf">甄別測試服務</a></li>
                <li><a href="/assets/%E6%84%9F%E8%A6%BA%E7%B5%B1%E5%90%88%E8%A8%93%E7%B7%B4.pdf">感覺統合訓練</a></li>
                <li><a href="/assets/%E5%B0%88%E6%B3%A8%E5%8A%9B%E7%A4%BE%E4%BA%A4%E8%AA%B2%E7%A8%8B.pdf">專注力社交課程</a></li>
                <li><a href="/assets/%E6%83%85%E7%B7%92%E9%81%8A%E6%88%B2%E8%AA%B2%E7%A8%8B.pdf">情緒遊戲課程</a></li>
                <li><a href="/assets/%E4%B8%AD%E6%96%87%E8%B6%A3%E5%91%B3%E8%AD%98%E5%AD%97%E6%A8%82.pdf">中文趣味識字樂</a></li>
                <li><a href="/assets/%E6%9C%80%E5%8F%97%E6%AD%A1%E8%BF%8E%E5%B9%BC%E5%B0%8F%E9%96%B1%E8%AE%80%E7%90%86%E8%A7%A3%E7%8F%AD.pdf">最受歡迎幼小閱讀理解班</a></li>
                <li><a href="/assets/%E4%B8%AD%E6%96%87%E8%AE%80%E5%AF%AB%E8%A8%93%E7%B7%B4.pdf">中文讀寫訓練</a></li>
                <li><a href="/assets/%E8%8B%B1%E6%96%87%E8%AE%80%E5%AF%AB%E8%A8%93%E7%B7%B4.pdf">英文讀寫訓練</a></li>
                <li><a href="/assets/%E6%95%B8%E5%AD%B8%E6%8F%90%E5%8D%87%E8%AA%B2%E7%A8%8B.pdf">數學提升課程</a></li>
                <li><a href="/assets/%E5%AF%86%E9%9B%86%E5%BC%8F%E8%A8%93%E7%B7%B4%E8%AA%B2%E7%A8%8B.pdf">密集式訓練課程</a></li>
            </ul>
        </li>
        <li><a href="/與我們合作/" title="與我們一起工作">與我們一起工作</a></li>
    </ul>
</div>