---
title: Rookie Academy | 網站地圖
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/%E7%B6%B2%E7%AB%99%E5%9C%B0%E5%9C%96%0A/
keywords: 
---

<div>
    <ul class="level-0">
        <li><a href="/" title="和孩子一起成長解決學習需要">主頁</a>
            <ul class="level-1">
                <li><a href="/#about-us">關於RookieAcademy</a></li>
                <li><a href="/#our-core-value">我們的核心價值</a></li>
                <li><a href="/#our-mission">我們的使命</a></li>
                <li><a href="/#contact-us">聯絡我們</a></li>
                <li><a href="/#our-services">我們的服務</a></li>
                <li><a href="/#working-with-us">與我們合作</a></li>
            </ul>
        </li>
        <li><a href="/常見問題/" title="常見問題 ">常見問題 </a></li>
        <li><a href="/留言給我們/" title="預約查詢或評估">預約查詢或評估</a></li>
        <li><a href="/課程簡介/" title="課程簡介">課程簡介</a>
            <h3>最受歡迎皇牌特色課</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.ace %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <!--<h3>中文學習範疇</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.chinese | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <h3>英文學習範疇</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.english | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <h3>數學學習範疇</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.math | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>-->
            <h3>小學呈分試特訓班</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.tsa | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <h3>幼稚園能力提升、升小一面試</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.kindergarten | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <h3>其他課程</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.other | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <h3>SEN特殊教育需要課程</h3>
            <ul class="level-1" role="list" class="articles__list flow">
                {% for class in collections.sen | reverse %}
                    <li>
                        <a href="{{ site.url }}{{ class.url | url }}">{{ class.data.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="/與我們合作/" title="與我們一起工作">與我們一起工作</a></li>
    </ul>
</div>
