---
title: Rookie Academy | 與我們合作
layout: base.njk
description: 初步甄別測試服務、至尊感覺統合服務、讀寫、主科專科、行為小組、專注力小組、社交小組、輔導及言語治療服務；另外為家長提供支援服務幫助家庭面對疑難
canonical: https://rookieacademy.org/%E8%88%87%E6%88%91%E5%80%91%E5%90%88%E4%BD%9C/
keywords: 
---
<section class="work-with-us">
    <div class="container">
        
        <div class="punchline">
            <img src="/assets/Icon-awesome-wpforms.svg" alt="fill-in-form">
        </div>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115510100775738866443/form/1FAIpQLSfgfF8Lou59qXkS-Fb5V2Oqc-Sf8SgxLHDEGgZnKJnjZ0A4Zg/classic.js?div=ff-compose"></script>
    </div>
</section>