---
title: Rookie Academy | 課程簡介
layout: base.njk
description: 協助學童解決學習難題和心理情緒，以及行為上的表現，為學童度身訂做適合他們的讀書方法，減輕家長的困惑和苦惱
canonical: https://rookieacademy.org/%E8%AA%B2%E7%A8%8B%E7%B0%A1%E4%BB%8B/
keywords: 
---
<section class="programmes-list">
    <div class="container">
        <img src="/assets/group-2687.svg" alt="our programmes image">
        <h1>我們的課程及服務</h1>
    </div>
    <p>協助學童解決學習難題和心理情緒，以及行為上的表現，為學童度身訂做適合他們的讀書方法，減輕家長的困惑和苦惱。</p>
    <p>運作程序：甄別測驗、個人輔導、小組課程</p>
</section>
<section class="sen">
    <div class="container">
        <h1 class="section-title">SEN特殊教育需要課程</h1>
        <ul role="list">
            {% for class in collections.sen | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
    </div>
</section>
<section class="ordinaryschool">
    <div class="container">
        <h1 class="section-title">皇牌特色課</h1>
        <ul role="list">
            {% for class in collections.ace | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">中文學習範疇</h1>
        <ul role="list">
            {% for class in collections.chinese | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">英文學習範疇</h1>
        <ul role="list">
            {% for class in collections.english | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">數學學習範疇</h1>
        <ul role="list">
            {% for class in collections.math | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">小學呈分試特訓班</h1>
        <ul role="list">
            {% for class in collections.tsa | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">幼稚園能力提升、升小一面試</h1>
        <ul role="list">
            {% for class in collections.kindergarten | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
        <h1 class="section-title">其他課程</h1>
        <ul role="list">
            {% for class in collections.other | reverse %}
                {% include "class-snippet.njk" %}
            {% endfor %}
        <ul>
    </div>
</section>
<section class="join-us-section-brown">
    <div class="container">
        <div class="punchline"><img src="/assets/make-an-appointment.svg" alt="make an appointment logo">
        </div>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115510100775738866443/form/1FAIpQLSdrqMoOgyBilZFAMuZlh7mpYCM9BJYC5rUdqh885plGIn0s0w/classic.js?div=ff-compose"></script>
    </div>
</section>
</div>