---
title: Rookie Academy | 關愛社會
layout: base.njk
description: Rookie Academy 致力貢獻社會，此培訓屬於「關愛社會」系列，為有志投身特殊教育的人士提供培訓活動，扶助學界有志之士提升個人實力、展翅高飛。
canonical: https://rookieacademy.org/SEN%E5%9F%B9%E8%A8%93/
keywords: 
---
<section>
    <div class="container">
        <img src="/assets/uploads/誠邀感覺統合培訓員.jpg" alt="誠邀學界人士參加【感覺統合培訓計劃】">
    </div>
</section>
</div>