---
title: Rookie Academy | 關愛社會
layout: base.njk
description: Rookie Academy 致力貢獻社會，此培訓屬於「關愛社會」系列，為有志投身特殊教育的人士提供培訓活動，扶助學界有志之士提升個人實力、展翅高飛。
canonical: https://rookieacademy.org/%E9%97%9C%E6%84%9B%E7%A4%BE%E6%9C%83/
keywords: 
---
<section class="sen-trainee">
    <div class="container">
        <p>Rookie Academy 致力貢獻社會，此培訓屬於「關愛社會」系列，為有志投身特殊教育的人士提供培訓活動，扶助學界有志之士提升個人實力、展翅高飛。</p>
        <p>歡迎有興趣從事特殊教育的人士加入，無經驗者如對教育充滿熱誠，且有愛心、耐性、喜歡和小朋友相處和溝通，均可參與【感覺統合培訓計劃】（必須面試）</p>
        <p>聯絡方法：有興趣申請【感覺統合培訓計劃】的人士可以WhatsApp 個人履歷到</p>
        <a href="https://bit.ly/3MZ4RNN">WhatsApp 9618 5765</a>
    </div>
</section>
<section>
    <div>
        <img src="/assets/uploads/RookieAcademy誠邀感統培訓員.jpg" alt="RookieAcademy誠邀感統培訓員">
        <img src="/assets/uploads/誠邀感覺統合培訓員.jpg" alt="誠邀學界人士參加【感覺統合培訓計劃】">
    </div>
</section>
</div>